<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FOLI X CURE</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
<div class="new">
    <h1>New Treatment Page</h1>
</div>
    <form action="/treatments" method="POST">
        Treatment Name: <input type="text" name="treatment" /><br />
        Clinic Name: <input type="text" name="clinic" /><br />
        <br>
        <textarea name="message" style="width:600px; height:200px;">
            </textarea>
            <br>
        Completed: <input type="checkbox" name="completed" /><br />
        <button class="button-85" role="button"><input type="submit" name="" value="Add Treatment" /></button></button></button>
       
    </form>
    
</body>
</body>

</html>